/* line 3, ../PROJECT/CSS+HTML/pulseStep/src/sass/style.scss */
* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

/* line 6, ../PROJECT/CSS+HTML/pulseStep/src/sass/style.scss */
.container {
  max-width: 950px;
  margin: 0 auto;
}

/* line 1, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_promo.scss */
.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../../img/promo-bg.jpg") center center/cover no-repeat;
}

/* line 6, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_promo.scss */
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 91px;
}

/* line 13, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_promo.scss */
.promo__header {
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 42px;
}

/* line 21, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_promo.scss */
.promo__subheader {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 24px;
  margin-top: 17px;
}

/* line 30, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_promo.scss */
.promo__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 425px;
  margin-top: 65px;
}

/* line 38, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_promo.scss */
.promo__icon {
  width: 108px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}

/* line 45, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_promo.scss */
.promo__icon img {
  display: block;
  margin: 0 auto 20px;
}

/* line 51, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_promo.scss */
.promo__link {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

/* line 57, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_promo.scss */
.promo__link a {
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: underline;
}

/* line 1, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/header.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 6, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/header.scss */
.header__logo {
  width: 250px;
}

/* line 9, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/header.scss */
.header__logo img {
  width: 100%;
}

/* line 14, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/header.scss */
.header__official {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
}

/* line 20, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/header.scss */
.header__official span {
  font-size: 18px;
  display: inline-block;
}

/* line 26, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/header.scss */
.header__phone {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 4px;
}

/* line 34, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/header.scss */
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* line 1, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_buttons.scss */
.button {
  width: 153px;
  height: 32px;
  background: #C70101;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* line 11, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_buttons.scss */
.button:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/* line 15, ../PROJECT/CSS+HTML/pulseStep/src/sass/blocks/_buttons.scss */
.button_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 67px;
}

/*# sourceMappingURL=style.css.map */